<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>BallerFeed</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/instant.js"></script>
    <script src="../static/js/follow.js"></script>
 
 
</head>



 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/logout">Logout</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Ballerfeed</h3>
            Search: <input type="text" name="playersearch" id='search' value="">
        </div>
 
        <div class="jumbotron">
            <div id="followSuccess"></div>
            <button type="button" class="btn btn-primary" id="follow">Follow <span>{{ name }}</span></button>
            
        </div>
 
 
        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>
 
    </div>
</body>
 
</html>